{% extends 'base.html' %}
{% block content %}
{% load static %}

  <!-- About -->
<section class="about">
    <div class="main">
      <img src="{% static 'img/IMG-20210408-WA0082.jpg' %}" alt="" class="about-img">
      <div class="about-text">
        <h1>About Us</h1>
        <h5>Developer <span> & Designer </span> </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus animi hic sed atque
           nobis, magnam unde ab ducimus similique? Sapiente accusantium minima fugit debitis sequi ex neque!
            Accusantium, placeat sint.
        </p>
      </div>
    </div>
  </section>
<!-- End About -->

{% endblock %}