{% extends 'base.html' %}
{% block content %}

<section class="homes" id="home">

  <div class="homes-img">
      <img src="img/l-1.jpg">
  </div>

  <div class="homes-text">
      <h1> Film Name</h1>
      <h3>Auther</h3>
      <h5>Rating <span class="from">From 0 To 5</span></h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry
          . Lorem Ipsum has been the industry's standard dummy
      </p>
      <h5>Date : <span class="from">6 - 10 - 2000</span> </h5>
      <h5>Views : <span class="from"> 1000 </span></h5>
      <h5>category : <span class="from">comedy</span></h5>
  </div>
</section>

{% endblock %}