{% extends 'base.html' %}
{% block content %}

  <!-- card -->
  <div class="containers" >
    <button type="button" class="cats"><a >Horror</a></button>
    <button type="button" class="cats"><a >romantic</a></button>
    <button type="button" class="cats"><a >Comedy</a></button>
  </div>

  <div class="warpper">
    <div class="cards">
      <img src="img/l-1.jpg" alt="">
      <div class="info">
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt magnam 
          fugit harum laborum praesentium unde non illo nihil impedit.</p>
        <a href="move.html" class="btn">Read More</a>
      </div>
    </div>

    <div class="cards">
      <img src="img/l-2.jpg" alt="">
      <div class="info">
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt magnam 
          fugit harum laborum praesentium unde non illo nihil impedit.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>

    <div class="cards">
      <img src="img/l-2.jpg" alt="">
      <div class="info">
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt magnam 
          fugit harum laborum praesentium unde non illo nihil impedit.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>

    <div class="cards">
      <img src="img/l-2.jpg" alt="">
      <div class="info">
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt magnam 
          fugit harum laborum praesentium unde non illo nihil impedit.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>

    <div class="cards">
      <img src="img/l-2.jpg" alt="">
      <div class="info">
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt magnam 
          fugit harum laborum praesentium unde non illo nihil impedit.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>

    <div class="cards">
      <img src="img/l-2.jpg" alt="">
      <div class="info">
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt magnam 
          fugit harum laborum praesentium unde non illo nihil impedit.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>

    <div class="cards">
      <img src="img/l-2.jpg" alt="">
      <div class="info">
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt magnam 
          fugit harum laborum praesentium unde non illo nihil impedit.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>

    <div class="cards">
      <img src="img/l-2.jpg" alt="">
      <div class="info">
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt magnam 
          fugit harum laborum praesentium unde non illo nihil impedit.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>

    <div class="cards">
      <img src="img/l-3.jpg" alt="">
      <div class="info">
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt magnam 
          fugit harum laborum praesentium unde non illo nihil impedit.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>
  </div>

{% endblock %}