{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="box">
      <h1>Update</h1>
      <form>

              <input class="input" type="text" placeholder="Enter Film Auther Name">

              <input class="input" type="tel" required placeholder="Enter Film Name">

              <input class="input" type="file" required placeholder="Enter Film Name">

              <input class="input" type="tel" required placeholder="Enter Film Sumarize">

              <input class="input" type="number" required placeholder="Enter Number Of viewr">

              <input class="input" type="number" placeholder="Enter Rating">

            <input class="input" type="date">

          <div>
            <select name="Category" id="Category">
              <option value="volvo">action</option>
              <option value="saab">romantic</option>
            </select>
          </div>
          <input type="submit" value="Update">
      </form>
  </div>
</div>

{% endblock %}